body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

.splash {
    font-size: 40px;
    margin-top: 50px;
    animation: fade 2s;
}

@keyframes fade {
    from {opacity:0;}
    to {opacity:1;}
}
